.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 2.5rem;
}

.mt-6 {
    margin-top: 3rem;
}

.mt-7 {
    margin-top: 3.5rem;
}

.mt-8 {
    margin-top: 4rem;
}

.mt-9 {
    margin-top: 4.5rem;
}

.mt-10 {
    margin-top: 5rem;
}

.mt-11 {
    margin-top: 5.5rem;
}

.mt-12 {
    margin-top: 6rem;
}

.mt-13 {
    margin-top: 6.5rem;
}

.mt-14 {
    margin-top: 7rem;
}

.mt-15 {
    margin-top: 7.5rem;
}

.mt-16 {
    margin-top: 8rem;
}

.mt-17 {
    margin-top: 8.5rem;
}

.mt-18 {
    margin-top: 9rem;
}

.mt-19 {
    margin-top: 9.5rem;
}

.mt-20 {
    margin-top: 10rem;
}

.mt-21 {
    margin-top: 10.5rem;
}

.mt-22 {
    margin-top: 11rem;
}

.mt-23 {
    margin-top: 11.5rem;
}

.mt-24 {
    margin-top: 12rem;
}

.mt-25 {
    margin-top: 12.5rem;
}



.mr-1 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 1.5rem;
}

.mr-4 {
    margin-right: 2rem;
}

.mr-5 {
    margin-right: 2.5rem;
}

.mr-6 {
    margin-right: 3rem;
}

.mr-7 {
    margin-right: 3.5rem;
}

.mr-8 {
    margin-right: 4rem;
}

.mr-9 {
    margin-right: 4.5rem;
}

.mr-10 {
    margin-right: 5rem;
}

.mr-11 {
    margin-right: 5.5rem;
}

.mr-12 {
    margin-right: 6rem;
}

.mr-13 {
    margin-right: 6.5rem;
}

.mr-14 {
    margin-right: 7rem;
}

.mr-15 {
    margin-right: 7.5rem;
}

.mr-16 {
    margin-right: 8rem;
}

.mr-17 {
    margin-right: 8.5rem;
}

.mr-18 {
    margin-right: 9rem;
}

.mr-19 {
    margin-right: 9.5rem;
}

.mr-20 {
    margin-right: 10rem;
}

.mr-21 {
    margin-right: 10.5rem;
}

.mr-22 {
    margin-right: 11rem;
}

.mr-23 {
    margin-right: 11.5rem;
}

.mr-24 {
    margin-right: 12rem;
}

.mr-25 {
    margin-right: 12.5rem;
}




.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 2.5rem;
}

.mb-6 {
    margin-bottom: 3rem;
}

.mb-7 {
    margin-bottom: 3.5rem;
}

.mb-8 {
    margin-bottom: 4rem;
}

.mb-9 {
    margin-bottom: 4.5rem;
}

.mb-10 {
    margin-bottom: 5rem;
}

.mb-11 {
    margin-bottom: 5.5rem;
}

.mb-12 {
    margin-bottom: 6rem;
}

.mb-13 {
    margin-bottom: 6.5rem;
}

.mb-14 {
    margin-bottom: 7rem;
}

.mb-15 {
    margin-bottom: 7.5rem;
}

.mb-16 {
    margin-bottom: 8rem;
}

.mb-17 {
    margin-bottom: 8.5rem;
}

.mb-18 {
    margin-bottom: 9rem;
}

.mb-19 {
    margin-bottom: 9.5rem;
}

.mb-20 {
    margin-bottom: 10rem;
}

.mb-21 {
    margin-bottom: 10.5rem;
}

.mb-22 {
    margin-bottom: 11rem;
}

.mb-23 {
    margin-bottom: 11.5rem;
}

.mb-24 {
    margin-bottom: 12rem;
}

.mb-25 {
    margin-bottom: 12.5rem;
}





.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 1.5rem;
}

.ml-4 {
    margin-left: 2rem;
}

.ml-5 {
    margin-left: 2.5rem;
}

.ml-6 {
    margin-left: 3rem;
}

.ml-7 {
    margin-left: 3.5rem;
}

.ml-8 {
    margin-left: 4rem;
}

.ml-9 {
    margin-left: 4.5rem;
}

.ml-10 {
    margin-left: 5rem;
}

.ml-11 {
    margin-left: 5.5rem;
}

.ml-12 {
    margin-left: 6rem;
}

.ml-13 {
    margin-left: 6.5rem;
}

.ml-14 {
    margin-left: 7rem;
}

.ml-15 {
    margin-left: 7.5rem;
}

.ml-16 {
    margin-left: 8rem;
}

.ml-17 {
    margin-left: 8.5rem;
}

.ml-18 {
    margin-left: 9rem;
}

.ml-19 {
    margin-left: 9.5rem;
}

.ml-20 {
    margin-left: 10rem;
}

.ml-21 {
    margin-left: 10.5rem;
}

.ml-22 {
    margin-left: 11rem;
}

.ml-23 {
    margin-left: 11.5rem;
}

.ml-24 {
    margin-left: 12rem;
}

.ml-25 {
    margin-left: 12.5rem;
}






.mx-1 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.mx-2 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mx-3 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.mx-4 {
    margin-right: 2rem;
    margin-left: 2rem;
}

.mx-5 {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.mx-6 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.mx-7 {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
}

.mx-8 {
    margin-right: 4rem;
    margin-left: 4rem;
}

.mx-9 {
    margin-right: 4.5rem;
    margin-left: 4.5rem;
}

.mx-10 {
    margin-right: 5rem;
    margin-left: 5rem;
}

.mx-11 {
    margin-right: 5.5rem;
    margin-left: 5.5rem;
}

.mx-12 {
    margin-right: 6rem;
    margin-left: 6rem;
}

.mx-13 {
    margin-right: 6.5rem;
    margin-left: 6.5rem;
}

.mx-14 {
    margin-right: 7rem;
    margin-left: 7rem;
}

.mx-15 {
    margin-right: 7.5rem;
    margin-left: 7.5rem;
}

.mx-16 {
    margin-right: 8rem;
    margin-left: 8rem;
}

.mx-17 {
    margin-right: 8.5rem;
    margin-left: 8.5rem;
}

.mx-18 {
    margin-right: 9rem;
    margin-left: 9rem;
}

.mx-19 {
    margin-right: 9.5rem;
    margin-left: 9.5rem;
}

.mx-20 {
    margin-right: 10rem;
    margin-left: 10rem;
}

.mx-21 {
    margin-right: 10.5rem;
    margin-left: 10.5rem;
}

.mx-22 {
    margin-right: 11rem;
    margin-left: 11rem;
}

.mx-23 {
    margin-right: 11.5rem;
    margin-left: 11.5rem;
}

.mx-24 {
    margin-right: 12rem;
    margin-left: 12rem;
}

.mx-25 {
    margin-right: 12.5rem;
    margin-left: 12.5rem;
}
.mx-26 {
    margin-right: 13rem;
    margin-left: 13rem;
}
.mx-27 {
    margin-right: 13.5rem;
    margin-left: 13.5rem;
}
.mx-28 {
    margin-right: 14rem;
    margin-left: 14rem;
}
.mx-29 {
    margin-right: 14.5rem;
    margin-left: 14.5rem;
}
.mx-30 {
    margin-right: 15rem;
    margin-left: 15rem;
}





.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.my-6 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-7 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.my-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-9 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.my-10 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.my-11 {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}

.my-12 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.my-13 {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}

.my-14 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.my-15 {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.my-16 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my-17 {
    margin-top: 8.5rem;
    margin-bottom: 8.5rem;
}

.my-18 {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.my-19 {
    margin-top: 9.5rem;
    margin-bottom: 9.5rem;
}

.my-20 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.my-21 {
    margin-top: 10.5rem;
    margin-bottom: 10.5rem;
}

.my-22 {
    margin-top: 11rem;
    margin-bottom: 11rem;
}

.my-23 {
    margin-top: 11.5rem;
    margin-bottom: 11.5rem;
}

.my-24 {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.my-25 {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
}






.mis-1 {
    margin-inline-start: 0.5rem;
}

.mis-2 {
    margin-inline-start: 1rem;
}

.mis-3 {
    margin-inline-start: 1.5rem;
}

.mis-4 {
    margin-inline-start: 2rem;
}

.mis-5 {
    margin-inline-start: 2.5rem;
}

.mis-6 {
    margin-inline-start: 3rem;
}

.mis-7 {
    margin-inline-start: 3.5rem;
}

.mis-8 {
    margin-inline-start: 4rem;
}

.mis-9 {
    margin-inline-start: 4.5rem;
}

.mis-10 {
    margin-inline-start: 5rem;
}

.mis-11 {
    margin-inline-start: 5.5rem;
}

.mis-12 {
    margin-inline-start: 6rem;
}

.mis-13 {
    margin-inline-start: 6.5rem;
}

.mis-14 {
    margin-inline-start: 7rem;
}

.mis-15 {
    margin-inline-start: 7.5rem;
}

.mis-16 {
    margin-inline-start: 8rem;
}

.mis-17 {
    margin-inline-start: 8.5rem;
}

.mis-18 {
    margin-inline-start: 9rem;
}

.mis-19 {
    margin-inline-start: 9.5rem;
}

.mis-20 {
    margin-inline-start: 10rem;
}

.mis-21 {
    margin-inline-start: 10.5rem;
}

.mis-22 {
    margin-inline-start: 11rem;
}

.mis-23 {
    margin-inline-start: 11.5rem;
}

.mis-24 {
    margin-inline-start: 12rem;
}

.mis-25 {
    margin-inline-start: 12.5rem;
}







.mie-1 {
    margin-inline-end: 0.5rem;
}

.mie-2 {
    margin-inline-end: 1rem;
}

.mie-3 {
    margin-inline-end: 1.5rem;
}

.mie-4 {
    margin-inline-end: 2rem;
}

.mie-5 {
    margin-inline-end: 2.5rem;
}

.mie-6 {
    margin-inline-end: 3rem;
}

.mie-7 {
    margin-inline-end: 3.5rem;
}

.mie-8 {
    margin-inline-end: 4rem;
}

.mie-9 {
    margin-inline-end: 4.5rem;
}

.mie-10 {
    margin-inline-end: 5rem;
}

.mie-11 {
    margin-inline-end: 5.5rem;
}

.mie-12 {
    margin-inline-end: 6rem;
}

.mie-13 {
    margin-inline-end: 6.5rem;
}

.mie-14 {
    margin-inline-end: 7rem;
}

.mie-15 {
    margin-inline-end: 7.5rem;
}

.mie-16 {
    margin-inline-end: 8rem;
}

.mie-17 {
    margin-inline-end: 8.5rem;
}

.mie-18 {
    margin-inline-end: 9rem;
}

.mie-19 {
    margin-inline-end: 9.5rem;
}

.mie-20 {
    margin-inline-end: 10rem;
}

.mie-21 {
    margin-inline-end: 10.5rem;
}

.mie-22 {
    margin-inline-end: 11rem;
}

.mie-23 {
    margin-inline-end: 11.5rem;
}

.mie-24 {
    margin-inline-end: 12rem;
}

.mie-25 {
    margin-inline-end: 12.5rem;
}






.pt-1 {
    padding-top: 0.5rem;
}

.pt-2 {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 1.5rem;
}

.pt-4 {
    padding-top: 2rem;
}

.pt-5 {
    padding-top: 2.5rem;
}

.pt-6 {
    padding-top: 3rem;
}

.pt-7 {
    padding-top: 3.5rem;
}

.pt-8 {
    padding-top: 4rem;
}

.pt-9 {
    padding-top: 4.5rem;
}

.pt-10 {
    padding-top: 5rem;
}

.pt-11 {
    padding-top: 5.5rem;
}

.pt-12 {
    padding-top: 6rem;
}

.pt-13 {
    padding-top: 6.5rem;
}

.pt-14 {
    padding-top: 7rem;
}

.pt-15 {
    padding-top: 7.5rem;
}

.pt-16 {
    padding-top: 8rem;
}

.pt-17 {
    padding-top: 8.5rem;
}

.pt-18 {
    padding-top: 9rem;
}

.pt-19 {
    padding-top: 9.5rem;
}

.pt-20 {
    padding-top: 10rem;
}

.pt-21 {
    padding-top: 10.5rem;
}

.pt-22 {
    padding-top: 11rem;
}

.pt-23 {
    padding-top: 11.5rem;
}

.pt-24 {
    padding-top: 12rem;
}

.pt-25 {
    padding-top: 12.5rem;
}





.pr-1 {
    padding-right: 0.5rem;
}

.pr-2 {
    padding-right: 1rem;
}

.pr-3 {
    padding-right: 1.5rem;
}

.pr-4 {
    padding-right: 2rem;
}

.pr-5 {
    padding-right: 2.5rem;
}

.pr-6 {
    padding-right: 3rem;
}

.pr-7 {
    padding-right: 3.5rem;
}

.pr-8 {
    padding-right: 4rem;
}

.pr-9 {
    padding-right: 4.5rem;
}

.pr-10 {
    padding-right: 5rem;
}

.pr-11 {
    padding-right: 5.5rem;
}

.pr-12 {
    padding-right: 6rem;
}

.pr-13 {
    padding-right: 6.5rem;
}

.pr-14 {
    padding-right: 7rem;
}

.pr-15 {
    padding-right: 7.5rem;
}

.pr-16 {
    padding-right: 8rem;
}

.pr-17 {
    padding-right: 8.5rem;
}

.pr-18 {
    padding-right: 9rem;
}

.pr-19 {
    padding-right: 9.5rem;
}

.pr-20 {
    padding-right: 10rem;
}

.pr-21 {
    padding-right: 10.5rem;
}

.pr-22 {
    padding-right: 11rem;
}

.pr-23 {
    padding-right: 11.5rem;
}

.pr-24 {
    padding-right: 12rem;
}

.pr-25 {
    padding-right: 12.5rem;
}





.pb-1 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem;
}

.pb-4 {
    padding-bottom: 2rem;
}

.pb-5 {
    padding-bottom: 2.5rem;
}

.pb-6 {
    padding-bottom: 3rem;
}

.pb-7 {
    padding-bottom: 3.5rem;
}

.pb-8 {
    padding-bottom: 4rem;
}

.pb-9 {
    padding-bottom: 4.5rem;
}

.pb-10 {
    padding-bottom: 5rem;
}

.pb-11 {
    padding-bottom: 5.5rem;
}

.pb-12 {
    padding-bottom: 6rem;
}

.pb-13 {
    padding-bottom: 6.5rem;
}

.pb-14 {
    padding-bottom: 7rem;
}

.pb-15 {
    padding-bottom: 7.5rem;
}

.pb-16 {
    padding-bottom: 8rem;
}

.pb-17 {
    padding-bottom: 8.5rem;
}

.pb-18 {
    padding-bottom: 9rem;
}

.pb-19 {
    padding-bottom: 9.5rem;
}

.pb-20 {
    padding-bottom: 10rem;
}

.pb-21 {
    padding-bottom: 10.5rem;
}

.pb-22 {
    padding-bottom: 11rem;
}

.pb-23 {
    padding-bottom: 11.5rem;
}

.pb-24 {
    padding-bottom: 12rem;
}

.pb-25 {
    padding-bottom: 12.5rem;
}





.pl-1 {
    padding-left: 0.5rem;
}

.pl-2 {
    padding-left: 1rem;
}

.pl-3 {
    padding-left: 1.5rem;
}

.pl-4 {
    padding-left: 2rem;
}

.pl-5 {
    padding-left: 2.5rem;
}

.pl-6 {
    padding-left: 3rem;
}

.pl-7 {
    padding-left: 3.5rem;
}

.pl-8 {
    padding-left: 4rem;
}

.pl-9 {
    padding-left: 4.5rem;
}

.pl-10 {
    padding-left: 5rem;
}

.pl-11 {
    padding-left: 5.5rem;
}

.pl-12 {
    padding-left: 6rem;
}

.pl-13 {
    padding-left: 6.5rem;
}

.pl-14 {
    padding-left: 7rem;
}

.pl-15 {
    padding-left: 7.5rem;
}

.pl-16 {
    padding-left: 8rem;
}

.pl-17 {
    padding-left: 8.5rem;
}

.pl-18 {
    padding-left: 9rem;
}

.pl-19 {
    padding-left: 9.5rem;
}

.pl-20 {
    padding-left: 10rem;
}

.pl-21 {
    padding-left: 10.5rem;
}

.pl-22 {
    padding-left: 11rem;
}

.pl-23 {
    padding-left: 11.5rem;
}

.pl-24 {
    padding-left: 12rem;
}

.pl-25 {
    padding-left: 12.5rem;
}



.px-1 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.px-2 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.px-3 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.px-4 {
    padding-right: 2rem;
    padding-left: 2rem;
}

.px-5 {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.px-6 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.px-7 {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}

.px-8 {
    padding-right: 4rem;
    padding-left: 4rem;
}

.px-9 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}

.px-10 {
    padding-right: 5rem;
    padding-left: 5rem;
}

.px-11 {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
}

.px-12 {
    padding-right: 6rem;
    padding-left: 6rem;
}

.px-13 {
    padding-right: 6.5rem;
    padding-left: 6.5rem;
}

.px-14 {
    padding-right: 7rem;
    padding-left: 7rem;
}

.px-15 {
    padding-right: 7.5rem;
    padding-left: 7.5rem;
}

.px-16 {
    padding-right: 8rem;
    padding-left: 8rem;
}

.px-17 {
    padding-right: 8.5rem;
    padding-left: 8.5rem;
}

.px-18 {
    padding-right: 9rem;
    padding-left: 9rem;
}

.px-19 {
    padding-right: 9.5rem;
    padding-left: 9.5rem;
}

.px-20 {
    padding-right: 10rem;
    padding-left: 10rem;
}

.px-21 {
    padding-right: 10.5rem;
    padding-left: 10.5rem;
}

.px-22 {
    padding-right: 11rem;
    padding-left: 11rem;
}

.px-23 {
    padding-right: 11.5rem;
    padding-left: 11.5rem;
}

.px-24 {
    padding-right: 12rem;
    padding-left: 12rem;
}

.px-25 {
    padding-right: 12.5rem;
    padding-left: 12.5rem;
}




.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.py-6 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-7 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.py-8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-9 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.py-10 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py-11 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.py-12 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py-13 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}

.py-14 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.py-15 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.py-16 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.py-17 {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}

.py-18 {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.py-19 {
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;
}

.py-20 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.py-21 {
    padding-top: 10.5rem;
    padding-bottom: 10.5rem;
}

.py-22 {
    padding-top: 11rem;
    padding-bottom: 11rem;
}

.py-23 {
    padding-top: 11.5rem;
    padding-bottom: 11.5rem;
}

.py-24 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.py-25 {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
}







.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 2rem;
}

.gap-5 {
    gap: 2.5rem;
}

.gap-6 {
    gap: 3rem;
}

.gap-7 {
    gap: 3.5rem;
}

.gap-8 {
    gap: 4rem;
}

.gap-9 {
    gap: 4.5rem;
}

.gap-10 {
    gap: 5rem;
}

.gap-11 {
    gap: 5.5rem;
}

.gap-12 {
    gap: 6rem;
}

.gap-13 {
    gap: 6.5rem;
}

.gap-14 {
    gap: 7rem;
}

.gap-15 {
    gap: 7.5rem;
}

.gap-16 {
    gap: 8rem;
}

.gap-17 {
    gap: 8.5rem;
}

.gap-18 {
    gap: 9rem;
}

.gap-19 {
    gap: 9.5rem;
}

.gap-20 {
    gap: 10rem;
}

.gap-21 {
    gap: 10.5rem;
}

.gap-22 {
    gap: 11rem;
}

.gap-23 {
    gap: 11.5rem;
}

.gap-24 {
    gap: 12rem;
}

.gap-25 {
    gap: 12.5rem;
}